basePath: /api/v1
host: api.yeah.biz.id
info:
  contact: {}
  description: API for YEAH Apps
  title: API Yeah
  version: "1.0"
paths:
  /data/jeniskelamin:
    get:
      consumes:
      - application/json
      description: ambil jenis kelamin
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: ambil jenis kelamin
      tags:
      - Data
  /data/konfigurasiaplikasi:
    get:
      consumes:
      - application/json
      description: ambil konfigurasi aplikasi
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: ambil konfigurasi aplikasi
      tags:
      - Data
  /data/metatag:
    get:
      consumes:
      - application/json
      description: ambil meta tag
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: ambil meta tag
      tags:
      - Data
  /data/pembayaran:
    get:
      consumes:
      - application/json
      description: ambil pembayaran
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: ambil pembayaran
      tags:
      - Data
  /data/sosialmedia:
    get:
      consumes:
      - application/json
      description: ambil sosial media
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: ambil sosial media
      tags:
      - Data
  /data/statuspembayaran:
    get:
      consumes:
      - application/json
      description: ambil status pembayaran
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: ambil status pembayaran
      tags:
      - Data
  /event:
    get:
      consumes:
      - application/json
      description: ambil semua event
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: ambil semua event
      tags:
      - Event
  /event/cekticket/:
    post:
      consumes:
      - application/json
      description: cek ticket
      parameters:
      - description: booking code
        in: query
        name: booking_code
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: cek ticket
      tags:
      - Event
  /event/detail/{id}:
    get:
      consumes:
      - application/json
      description: ambil detail event
      parameters:
      - description: id event
        in: query
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: ambil detail event
      tags:
      - Event
  /event/registrasi:
    post:
      consumes:
      - application/json
      description: registrasi
      parameters:
      - description: registrasi
        in: body
        name: registrasi
        required: true
        schema:
          type: object
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: registrasi
      tags:
      - Event
  /event/registrasi/pembayaran:
    post:
      consumes:
      - application/json
      description: pembayaran registrasi
      parameters:
      - description: booking code
        in: query
        name: booking_code
        required: true
        type: string
      - description: id pembayaran
        in: query
        name: id_pembayarans
        required: true
        type: string
      - description: id status pembayaran
        in: query
        name: id_status_pembayarans
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: pembayaran registrasi
      tags:
      - Event
swagger: "2.0"
