basePath: /api/v1
host: api.yeah.biz.id
info:
  contact: {}
  description: API Using Golang
  title: API Yeah
  version: "1.0"
paths:
  /data/jeniskelamin:
    get:
      consumes:
      - application/json
      description: ambil jenis kelamin
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: ambil jenis kelamin
      tags:
      - Data
  /data/konfigurasiaplikasi:
    get:
      consumes:
      - application/json
      description: ambil konfigurasi aplikasi
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: ambil konfigurasi aplikasi
      tags:
      - Data
  /data/metatag:
    get:
      consumes:
      - application/json
      description: ambil meta tag
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: ambil meta tag
      tags:
      - Data
  /data/pembayaran:
    post:
      consumes:
      - application/json
      description: ambil pembayaran
      parameters:
      - description: id event
        in: query
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: ambil pembayaran
      tags:
      - Data
  /data/sosialmedia:
    get:
      consumes:
      - application/json
      description: ambil sosial media
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: ambil sosial media
      tags:
      - Data
  /data/statuspembayaran:
    get:
      consumes:
      - application/json
      description: ambil status pembayaran
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: ambil status pembayaran
      tags:
      - Data
  /data/tipepembayaran:
    get:
      consumes:
      - application/json
      description: ambil tipe pembayaran
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: ambil tipe pembayaran
      tags:
      - Data
  /event:
    get:
      consumes:
      - application/json
      description: ambil semua event
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: ambil semua event
      tags:
      - Event
  /event/cekticket:
    post:
      consumes:
      - application/json
      description: cek ticket
      parameters:
      - description: booking code
        in: query
        name: booking_code
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: cek ticket
      tags:
      - Event
  /event/detail/{id}:
    get:
      consumes:
      - application/json
      description: ambil detail event
      parameters:
      - description: id event
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: ambil detail event
      tags:
      - Event
  /event/registrasi:
    post:
      consumes:
      - application/json
      description: registrasi
      parameters:
      - description: registrasi
        in: body
        name: registrasi
        required: true
        schema:
          type: object
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: registrasi
      tags:
      - Event
  /event/registrasi/buktipembayaran:
    post:
      consumes:
      - application/json
      description: bukti pembayaran registrasi
      parameters:
      - description: booking code
        in: query
        name: booking_code
        required: true
        type: string
      - description: bukti pembayaran
        in: formData
        name: bukti_pembayaran_registrasi_events
        required: true
        type: file
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: bukti pembayaran registrasi
      tags:
      - Event
  /event/registrasi/pembayaran:
    post:
      consumes:
      - application/json
      description: pembayaran registrasi
      parameters:
      - description: booking code
        in: query
        name: booking_code
        required: true
        type: string
      - description: id pembayaran
        in: query
        name: id_pembayarans
        required: true
        type: string
      - description: id status pembayaran
        in: query
        name: id_status_pembayarans
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: pembayaran registrasi
      tags:
      - Event
  /event/verifikasikedatangan:
    post:
      consumes:
      - application/json
      description: verifikasi kedatangan
      parameters:
      - description: booking code
        in: query
        name: booking_code
        required: true
        type: string
      - description: kode scanner event
        in: query
        name: kode_scanner_events
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: string
      summary: verifikasi kedatangan
      tags:
      - Event
swagger: "2.0"
